.nodeWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;

  .sendMessageHeader {
    background-color: bisque;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .headtext {
      font-size: 8px;
      font-weight: bold;
    }
  }

  .text {
    font-size: 8px;
    background-color: white;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
  }
}

.selectedNodeWrapper {
  @extend .nodeWrapper;

  border-color: red;
}
